<%= render 'resource_title' %>

<%= content_tag_for(:article, resource) do  %>
  <% show_attributes_for(resource).each do |attribute| %>
    <%= content_tag(:div, class: attribute) do %>
      <strong><%= resource_class.human_attribute_name(attribute) %></strong><br />
      <div><%= resource.send(attribute) %></div>
    <% end %>
  <% end %>
<% end %>

<div class="show-actions">
  <%= link_to "Back to List", collection_url, class: 'btn' %>
  <%= link_to "Edit #{resource_class.name}", edit_resource_url(resource), class: 'btn' %>
  <%= link_to "Delete #{resource_class.name}", resource_url(resource), method: :delete, confirm: "Are you sure?", class: 'btn btn-danger' %>
</div>

<% content_for :sidebar do  %>
  <%= render "sidebar" %>
<% end %>
